/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

///dts-v1/;
//#include <st/u5/stm32u575.dtsi>
//
//#include <dt-bindings/zmk/matrix_transform.h>
//
/// {
//	model = "stm32u575test";
//	compatible = "st,stm32u575";
//
//	chosen {
//		// zephyr,sram = &sram0;
//		// zephyr,flash = &flash0;
//		zmk,kscan = &kscan0;
//		zmk,matrix-transform = &default_transform;
//	};
//
//	transform: transform {
//		compatible = "zmk,matrix-transform";
//		columns = <3>;
//		rows = <4>;
//		map = <
//					  RC(0, 0) RC(0, 1) RC(0, 2)
//					  RC(1, 0) RC(1, 1) RC(1, 2)
//					  RC(2, 0) RC(2, 1) RC(2, 2)
//					  RC(3, 0) RC(3, 1) RC(3, 2)
//			  >;
//	};
//
//	kscan: kscan {
//		compatible = "zmk,kscan-gpio-matrix";
//		diode-direction = "col2row";
//		row-gpios
//		= <&gpioe 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
//		, <&gpioe 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
//		, <&gpioe 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
//		, <&gpiob 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
//		;
//		col-gpios
//		= <&gpioe 10 GPIO_ACTIVE_HIGH>
//		, <&gpioe 11 GPIO_ACTIVE_HIGH>
//		, <&gpioe 12 GPIO_ACTIVE_HIGH>
//		;
//	};
//
//};

// zephyr_udc0: &usb {
//     status = "okay";
// };

// &flash0 {
//     /*
//      * For more information, see:
//      * http://docs.zephyrproject.org/latest/guides/dts/index.html#flash-partitions
//      */
//     partitions {
//         compatible = "fixed-partitions";
//         #address-cells = <1>;
//         #size-cells = <1>;

//         /* Set 6Kb of storage at the end of the 256Kb of flash */
//         storage_partition: partition@3e800 {
//             reg = <0x0003e800 0x00001800>;
//         };
//     };
// };


/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/dts-v1/;
#include <st/u5/stm32u575.dtsi>
//#include <st/f0/stm32f072v(8-b)tx-pinctrl.dtsi>

#include <dt-bindings/zmk/matrix_transform.h>


/ {
	model = "STM32U5 test (stm32)";
	compatible = "st,stm32u575", "st,stm32u5";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zmk,kscan = &kscan;
		zmk,matrix_transform = &transform;
		zephyr,console = &cdc_acm_uart;
		/* TODO: Enable once we support the IC for underglow
		zmk,underglow = &led_strip;
		 */
	};

	transform: transform {
		compatible = "zmk,matrix-transform";
		columns = <3>;
		rows = <4>;
		map = <
					  RC(0, 0) RC(0, 1) RC(0, 2)
					  RC(1, 0) RC(1, 1) RC(1, 2)
					  RC(2, 0) RC(2, 1) RC(2, 2)
					  RC(3, 0) RC(3, 1) RC(3, 2)
			  >;
	};

	kscan: kscan {
		compatible = "zmk,kscan-gpio-matrix";
		diode-direction = "col2row";
		row-gpios
		= <&gpioe 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		, <&gpioe 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		, <&gpioe 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		, <&gpiob 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		;
		col-gpios
		= <&gpioe 10 GPIO_ACTIVE_HIGH>
		, <&gpioe 11 GPIO_ACTIVE_HIGH>
		, <&gpioe 12 GPIO_ACTIVE_HIGH>
		;
	};
};

zephyr_udc0: &usb {
	status = "okay";

	pinctrl-0 = <&usb_dm_pa11 &usb_dp_pa12>;
	pinctrl-names = "default";

	num-bidir-endpoints = <6>;

	cdc_acm_uart: cdc_acm_uart {
		compatible = "zephyr,cdc-acm-uart";
		label = "CDC_ACM_0";
	};
};

&clk_hsi {
	status = "okay";
};

&clk_hsi48 {
	status = "okay";
};

&pll {
	prediv = <1>;
	mul = <6>;
	clocks = <&clk_hsi>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(48)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <1>;
};


&rtc {
	status = "okay";
};

&flash0 {
	/*
	 * For more information, see:
	 * http: //docs.zephyrproject.org/latest/guides/dts/index.html#flash-partitions
	 */
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/* Set 6Kb of storage at the end of the 128Kb of flash */
		storage_partition: partition@3e800 {
			label = "storage";
			reg = <0x0001e800 0x00001800>;
		};
	};
};
